<!DOCTYPE html>
<html>
<head>
    <title>Netflix Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="header">
    <div class="logo">🎬 Movie Recommendation </div>
</div>

<div class="container">
    <h2>Select Genre</h2>

    <form action="/rating" method="post">
        <select name="genre">
            <option>Action</option>
            <option>Comedy</option>
            <option>Drama</option>
            <option>Sci-Fi</option>
            <option>Fantasy</option>
            <option>Thriller</option>
            <option>Romance</option>
            <option>Adventure</option>
            <option>Mystery</option>
            <option>Historical</option>
            <option>Horror</option>
            <option>Sports</option>
            <option>Crime</option>
            <option>Biography</option>
        </select>

        <button type="submit">Next</button>
    </form>
</div>

</body>
</html>